<a href="https://colab.research.google.com/github/alvas-education-foundation/Archana-course/blob/master/Copy_of_pyws1(day1_archana)_ipyndb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

variable

In [ ]:
x=5
y="john"
z=42.4
print(x)
print(y)
print(z)

5
john
42.4

assign multiple values

In [ ]:
x,y,z=5,4.2,"riya"
print(x)
print(y)
print(z)

5
4.2
riya

In [ ]:
x=y=z="hello"
print(x)
print(y)
print(z)

hello
hello
hello

In [ ]:
x=str(35)
print("the roll number of akash is " + x)

the roll number of akash is 35

In [ ]:
x=str(35)
print(x + " is the roll number of akash")

35 is the roll number of akash

#Exersise-1

In [ ]:
carname="volvo"
print(carname)

volvo

#Exersise-2

In [ ]:
x=50
print(type(x))

<class 'int'>

#Exersise-3

In [ ]:
x=5
y=10
print(x+y)

15

#Exersise-4

In [ ]:
x,y=11,17
z=x+y
print(z)

28

Data type

In [ ]:
x=5.55
print(type(x))

<class 'float'>

#Exersise-5

In [ ]:
x1="Hello World" #string
x2=10 #integer
x3=10.1 #float
x4=["apple","banana","cherry"] #list
x5=("apple","banana","cherry") #tuple
x6=range(6)  #range
x7={"name":"Johnwick","age":36} #dictionary
x8={"apple","banana","cherry"} #set
x9=True #bool
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

#Python number

In [ ]:
x=1
y=143546586863356588524557
z=-3543756745
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x=3+5j
print(type(x))

<class 'complex'>

In [ ]:
x=range(0,6,2)
print(list(x))

[0, 2, 4]

In [ ]:
x={1,2,3,2,4,3} #set removes the duplicate character
print(x)

{1, 2, 3, 4}

#Type conversion

In [ ]:
x=1
y=2.8
z=4+5j
a=float(x)
b=complex(y)
c=int(y)
print(a)
print(b)
print(c)
#complex cannot be converted to other form.

1.0
(2.8+0j)
2

#Python casting

In [ ]:
x=int(1)
y=int(2.8)
z=int("3")

a=float(1)
b=float(2.8)
c=float("3")
d=float("4.2")

o=str("sl")
p=str(2)
q=str(3.0)

print(x)
print(y)
print(z)
print(a)
print(b)
print(c)
print(d)
print(o)
print(p)
print(q)

1
2
3
1.0
2.8
3.0
4.2
sl
2
3.0

#Exersise-6

In [ ]:
x=2
y=3
print("x+y="+str(x)+str(y))

x+y=23

string

In [ ]:
name="Dhoni"
print(name)
print(type(name))

Dhoni
<class 'str'>

In [ ]:
name="hello world"
print(name[0])
print(name[3])
print(len(name)) #length of the name
print("hello" in name)   #word tracing
print("23" in name)
print(name[0:5])   #slicing
print(name[:6])
print(name[6:])
print(name[-5:-2])

h
l
11
True
False
hello
hello
world
wor

modifying

In [ ]:
txt="Things In Life Are Free!"
print(txt.upper())
print(txt.lower())

THINGS IN LIFE ARE FREE!
things in life are free!

In [ ]:
a="hello "
b="world"
print(a+b)

hello world

In [ ]:
age=36
txt="my name is John,I am {} " 
print(txt.format(age))

my name is John,I am 36

In [ ]:
txt="hello\nworld!"
print(txt)

hello
world!

In [ ]:
txt="hello\tworld!"
print(txt)

hello	world!

In [ ]:
txt="hello \bworld!"
print(txt)

hello world!

In [ ]:
txt="archana"
print(txt.capitalize())  #convert 1st character to upper case

Archana

In [ ]:
x="archana"
print(x.isalpha())
print(x.isdigit())

True
False

In [ ]:
name="alvas"
x=" college"
txt="alvas{}"
print(len(name))
print(name[0:4])
print(name.upper())
print(txt.format(x))
print(name + x)
print(name.isdigit())

5
alva
ALVAS
alvas college
alvas college
False

Boolean values

In [ ]:
print(10>9)
print(10==9)

True
False

Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)

15
5
50
2.0
0

In [ ]:
x=5
x +=3
print(x)

8

In [ ]:
x=5
y=3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

In [ ]:
print(3>0 and 3<8)
print(3<0 and 3>8)
print(3>0 or 3>8)

True
False
True

#Assignment

In [ ]:
x=int(input("enter value x "))
Y=int(input("enter value y "))
print(x+Y)
print(x-Y)
print(x*Y)
print(x/Y)
print(x%Y)
print(x==Y)
print(x!=Y)
print(x>Y)
print(x<Y)
print(5<20 and 20>5)
print(5>20 or 20>5)

enter value x 20
enter value y 5
25
15
100
4.0
0
False
True
True
False
True
True