<a href="https://colab.research.google.com/github/alvas-education-foundation/Archana-course/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#sets

In [ ]:
numbers={1,2,3,4}
print(numbers)

{1, 2, 3, 4}

In [ ]:
a=set(('ece', 'cse', 'ise'))
a.add('mech')
print(a)
print(len(a))
a.add('cse')
print(a)
print(len(a))

{'mech', 'ise', 'cse', 'ece'}
4
{'mech', 'ise', 'cse', 'ece'}
4

In [ ]:
a=set(('ece', 'cse', 'ise','mech','civil'))
a.remove('mech')
print(a)
a.discard('civil')
print(a)
delected=a.pop()
print(delected)
print(a)

{'ise', 'civil', 'ece', 'cse'}
{'ise', 'ece', 'cse'}
ise
{'ece', 'cse'}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.clear()
print(thisset)
print(len(thisset))

set()
0

In [ ]:
thisset={"apple","banana","cherry"}
del thisset
print(thisset)

NameError: ignored

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [ ]:
thisset={"apple","banana","cherry"}
tropical={"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'banana', 'apple', 'cherry', 'pineapple', 'papaya'}

In [ ]:
thisset={"apple","banana","cherry"}
mylist=["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'kiwi', 'orange', 'apple', 'cherry'}

In [ ]:
mylist=[1,2,1,2,3]
print(len(mylist))
new=set(mylist)
print(new)
print(len(new))

5
{1, 2, 3}
3

In [ ]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'apple', 'orange', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
more_fruits=["orange","mango","grapes"]
fruits.update(more_fruits)
print(fruits)
fruits=fruits.union(more_fruits)
print(fruits)

{'banana', 'grapes', 'mango', 'orange', 'apple', 'cherry'}
{'mango', 'banana', 'orange', 'apple', 'cherry', 'grapes'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

#dictionary

In [ ]:
today={
    "day":"thursday",
    "date":"07-01-2021",
    "month":"january"
}
print(today)

{'day': 'thursday', 'date': '07-01-2021', 'month': 'january'}

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964,
    #"year":2020,     #duplication is not allowed
    #"model":"GT"
}
x=thisdict.get("model")
print(x)
print(len(thisdict))

mustang
3

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
x = thisdict.key()
print(x)
print(len(thisdict))

AttributeError: ignored

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
x = thisdict.values()
print(x)

dict_values(['ford', 'mustang', 1964])

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
x = thisdict.values()
thisdict["year"]=2000
print(x)
print(len(thisdict))

dict_values(['ford', 'mustang', 2000])
3

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
thisdict["color"]="red"
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
thisdict.pop("model")
print(thisdict)
thisdict.popitem()
print(thisdict)

{'brand': 'ford', 'year': 1964}
{'brand': 'ford'}

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'ford', 'year': 1964}

In [ ]:
car={
    "brand":"ford",
     "model":"mustang",
     "year":1964
}
x=car.get("model")
print(x)

mustang

In [ ]:
car={
    "brand":"ford",
     "model":"mustang",
     "year":1964
}
car["year"]=2020
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [ ]:
car={
    "brand":"ford",
     "model":"mustang",
     "year":1964
}
car.update({"color":"red"})
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

In [ ]:
car={
    "brand":"ford",
     "model":"mustang",
     "year":1964
}
car.pop("model")
print(car)

{'brand': 'ford', 'year': 1964}

#Python conditional and if statements

In [ ]:
a=33
b=200
if b>a:
   print("b is greater than a")

b is greater than a

In [ ]:
a=33
b=33
if b>a:
   print("b is greater than a")
elif a==b:
   print("a and b are equal")

a and b are equal

In [ ]:
a=55
b=33
if b>a:
   print("b is greater than a")
elif a==b:
   print("a and b are equal")
else:
   print("a is greater than b")

a is greater than b

In [ ]:
x=input("enter the num1-")
y=input("enter the num2-")
z=input("enter the num3-")
if x>y:
  if x>z:
    print("x is greater")
  else:
    print("z is greater")
elif y>x:
   if y>z:
     print("y is greater")
   else:
     print("z is greater")
else:
  print("z is greater")

enter the num1-7
enter the num2-5
enter the num3-3
x is greater

In [ ]:
i=1
while i<6:
   print(i)
   i+=1  #i=i+1

1
2
3
4
5

In [ ]:
i=1
while i<6:
   print(i)
   if i==3:
     break
   i+=1

1
2
3

In [ ]:
i=0
while i<6:
   i+=1
   if i==3:
     continue
   print(i)

1
2
4
5
6

In [ ]:
x=int(input("enter the value of the numbere-"))
i=0
count=0
while i<=x:
  count=count+i
  i=i+1
print(count)

enter the value of the numbere-5
15

In [ ]:
n=int(input())
sum=0
while (n):
   sum+=n
   n-=1
print(sum)

5
15

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "archana":
  print(x)

a
r
c
h
a
n
a

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)
  if x=="banana":
    break

apple
banana

#range()

In [ ]:
 for x in range(5):
   print(x)

0
1
2
3
4

In [ ]:
for x in range(3,30,5):
  print(x)

3
8
13
18
23
28

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
x=input("enter the number")
if n/2==0:
  print("even")
else:
  print("odd")

enter the number10
even

#list comprehension

In [104]:
x=[i for i in range(1,21)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [105]:
x=[i*i for i in range(1,21)]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [120]:
evenlist = [i for i in range(1,21) if i%2==0]
print(evenlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [121]:
oddsqr=[i*i for i in range(1,21) if i%2==1]
print(oddsqr)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [123]:
if 0:
  print("even")
else:
  print("odd")

odd

In [125]:
mylist=[1,1,2,4,5]
print(all(mylist))
mylist2=[1,1,2,4,0]
print(all(mylist2))

True
False

In [137]:
lst=[]    #prime number
for i in range(2,21):
  isPrime=True
  for j in range(2,i):
    if i%j==0:
      isPrime=False
  if isPrime:
    lst.append(i)
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19]

In [139]:
primelist=[i for i in range(2,21)
           if all(i%j!=0 for j in range(2,i))]
print(primelist)

[2, 3, 5, 7, 11, 13, 17, 19]

In [144]:
x=[i*i for i in range(1,25) if i<6 ]
print(x)

[1, 4, 9, 16, 25]

#function & arguments

In [146]:
def my_fun(a,b):
  print(a,b)
my_fun("jack","jill")

jack jill

In [147]:
def my_fun(a,b=435):
  print(a,b)
my_fun("jack")

jack 435

In [151]:
def my_fun(a,b,c=3):
  print(a,b,c)
x,y,z=my_fun("jack","jill")
print(x,y,z)

jack jill 3

TypeError: ignored